.env
.env.*
!.env.example
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/build
database/*.sqlite
coverage
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
